@page "/Users"
@using Imgeneus.Database.Entities
@using Microsoft.EntityFrameworkCore

@inject IDatabase _database

<PageTitle>Users</PageTitle>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Faction</th>
                <th>Last connection time</th>
                <th>Is deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Points</td>
                    <td>@GetUserFriendlyFaction(@user.Faction)</td>
                    <td>@user.LastConnectionTime.ToShortDateString()</td>
                    <td>@user.IsDeleted</td>
                    <td>// TODO: make GM and non-GM</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DbUser[] _users;

    protected override async Task OnInitializedAsync()
    {
        _users = await _database.Users.ToArrayAsync();
    }

    private string GetUserFriendlyFaction(Fraction faction)
    {
        return faction.ToString();
    }
}
